/* Temlpate */

/* .stacked-elements {
  position: relative;
}

.stacked-elements .stacked-content {
  position: absolute;
  top: 80px;
  left: 375px;
  z-index: 1; 

.stacked-elements .stacked-content .stacked-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;  

*/



.stacked-elements {
  position: relative;
  width: 100%;
  max-width: 700px;
}

.stacked-elements .stacked-content {
  position: absolute;
  top: calc(50% + 10px); /* Adjust according to your image height */
  left: calc(50% + 4px); /* Adjust according to your image width */
  transform: translate(-50%, -50%);
  width: 500px; /* Adjust according to your image width */
  max-width: 90%;
  text-align: center; /* Center align text */
  z-index: 2; /* Place inside image and text on top */
}

.stacked-elements .stacked-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Ensure image doesn't exceed container width */
}

.stacked-elements .stacked-text {
  position: absolute;
  top: calc(50% - 30px); /* Adjust according to your image height */
  left: calc(50% - 120px); /* Adjust according to your image width */
  z-index: 3; /* Place text on top of inside image */
  color: white;
  max-width:250px;
}

#outsideImage {
  position: relative;
  z-index: 1; /* Place outside image behind inside image */
}



canvas#eventThree {
  width: 100%; /* Set canvas width to 100% of viewport width */
  height: 100%; /* Set canvas height to 100% of viewport height */
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

.CursorCircle {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: radial-gradient(circle, white 50%, transparent 80%);
  pointer-events: none;
  z-index: 9999;
}


.container{
  margin-top:150px;
} 

/* .parallax {
  --x: 50%;
  --y: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.pImg{
  position: absolute;
  width: auto;
  height: 100%;
  min-width: 100vw;
  object-fit: cover;
  justify-content: center;
} */

.relative-container {
  position: relative;
}

.absolute-content {
  position: absolute;
  top: 0;
  left: 0;
}

.absolute-inner-content {
  position: absolute;
  top: 300px; /* Adjust as needed */
  left: 100px; /* Adjust as needed */
}


.Home{
  overflow:hidden;
  height:100%;
}

#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#parallax .pImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #011c1d, transparent);
  z-index: 99;
}


#parallax #text1 {
  position: absolute;
  font-size: 7em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  top: 200px;
  filter: drop-shadow(5px 5px 2px black);
  white-space: nowrap;
}


.Background {
  background-image: radial-gradient(circle farthest-side at var(--x) var(--y), #011C1D 1%, black 100%);
}

.sec{
  position:relative;
  padding:100px;
} 

.sec1{
  padding:100px;
} 

.container h2{
  font-size: 3em;
  color:#fff;
}

.sec p{
  font: size 5em;
  color:#fff;
  margin-bottom:10px;
  margin-top: 25px;
}

/* Nav */
.Navbar {
  z-index: 999;
  display: flex;
  align-items: center;
  z-index: 999;
  position: fixed; /* or position: relative; */
}

.navbar-toggler {
  background-color: white; 
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.navbar-toggler:not(.open):hover .toggler-icon {
  color: black; 
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.3s, padding 0.3s;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styles for navbar toggler icon */
.navbar-toggler .toggler-icon {
  display: inline-block;
  color: black; 
  padding: 10px;
  transition: all 0.3s ease; 
  font-weight: bold;
}

/* Animation for navbar toggler icon when leaving hover */
.navbar-toggler:not(.open):not(:hover) .toggler-icon {
  padding: 4px; 
}

.navbar-toggler.open .toggler-icon {
  color: black; 
  transform: rotate(180deg);
}

.sidebar {
  height: 80%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s;
  padding-top: 60px;
  border-radius: 0 0 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar.show {
  z-index: 998;
  width: 250px;
}

.sidebar.show a {
  opacity: 1; /* Show links when sidebar is open */
}

.sidebar a {
  opacity: 0;
  padding: 8px 35px;
  text-decoration: none;
  font-size: 20px;
  color: black; /* Set the color of the links */
  display: block;
  transition: color 0.3s; 
  position: relative;
}

.sidebar a::after {
  content: '';
  position: absolute;
  left: 35px;
  bottom: 0;
  width: 0;
  height: 2px; 
  background-color: black; 
  transition: width 0.3s; 
}

.sidebar a:hover::after {
  width: 20%; 
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Home */

.logos {
  padding: 60px 0;
}

.logos-slide {
  white-space: nowrap;
  animation: slide 35s infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 20px;
  opacity: 0.4;
  transition: opacity 0.3s ease; /* Add transition for smooth opacity change */
}

.logos-slide img:hover {
  opacity: 1;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-150px * 6)); /* Adjust -150px according to the width of each image and the number of images */
  }
}

.logos-slide1 {
  white-space: nowrap;
  animation: slide1 35s infinite linear; 
}

.logos-slide1 img {
  height: 50px;
  margin: 0 20px;
  opacity: 0.4;
  transition: opacity 0.3s ease; 
}

.logos-slide1 img:hover {
  opacity: 1;
}

@keyframes slide1 {
  from {
    transform: translateX(calc((150px * -6))); 
  }
  to {
    transform: translateX(0); 
  }
}


/* .logos {
  overflow: hidden;
  padding: 60px 0;
}

.logos-slide {
  white-space: nowrap;
  display: inline-block;
  animation: slide 35s infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 10px;
  opacity: 0.5;
}

.logos-slide img:hover{
  opacity: 1;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

*/


/* .logos-slide1 {
  white-space: nowrap;
  display: inline-block;
  animation: slide1 35s infinite linear;
}

.logos-slide1 img {
  height: 50px;
  margin: 0 10px;
  opacity : 0.5;
}

.logos-slide img:hover{
  opacity: 1;
} 

@keyframes slide1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}   */

